{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">SDWAN</h4>
            <div id="fabric-buttons" class="btn-group" role="group" aria-label="Fabric selection">
                {% for item in fabrics %}
                <button type="button" class="btn btn-outline-primary fabric-btn" data-fabric="{{ item }}">
                    {{ item }}
                </button>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="table" class="table table-striped align-top"></table>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    let fabric = "{{ fabrics[0] }}"; // default to first fabric
    let getDevicesUrl = "{{ url_for('api_sdwan.get_devices',fabric='FABRIC') }}";
    let showDeviceUrl = "{{ url_for('ui_sdwan.show_device',fabric='FABRIC',id='ID') }}";

    // init datatable
    let table = new DataTable('#table',
        {
            layout: {
                topStart: 'search',
                topEnd: { buttons: ['pageLength', 'copy', 'excel', 'csv'] }
            },
            pageLength: 10,
            fixedHeader: true,
            order: [[0, 'asc']],
            columns: [
                {
                    title: 'Hostname', data: "hostname", render: function (data, type, row) {
                        return `<b><a class="text-primary" href=${showDeviceUrl.replace('FABRIC', fabric).replace('ID', row.uuid.replace("/","_"))}>${row.hostname}</a></b>`
                    }
                },
                {
                    title: 'Reachable', data: "is_reachable", render: function (data, type, row) {
                        if (type === 'display') {
                            return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                        }
                        return data;
                    }
                },
                {
                    title: 'Synced', data: "is_sync", render: function (data, type, row) {
                        if (type === 'display') {
                            return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                        }
                        return data;
                    }
                },
                {
                    title: 'Valid', data: "is_valid", render: function (data, type, row) {
                        if (type === 'display') {
                            return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                        }
                        return data;
                    }
                },
                { title: 'IP Address', data: "system_ip" },
                { title: 'Version', data: "version" },
                { title: 'Model', data: "model" },
                { title: 'Persona', data: "persona" },
                //{ title: 'Fabric', data: "fabric" },
                {
                    title: 'CTRL', data: "raw_data", render: function (data, type, row) {
                        if (type === 'display') {
                            return data.controlConnections === undefined ? "--" : data.controlConnections
                        }
                        return data.controlConnections === undefined ? null : parseInt(data.controlConnections, 10)
                    }
                },
                {
                    title: 'BFD', data: "raw_data", render: function (data, type, row) {
                        if (type === 'display') {
                            return data.bfdSessions === undefined ? "--" : data.bfdSessions
                        }
                        const match = data.bfdSessions === undefined ? null : data.bfdSessions.match(/^\d+/);
                        const firstNumber = match ? parseInt(match[0], 10) : null;
                        return firstNumber;
                    }
                },
                {
                    title: 'OMP', data: "raw_data", render: function (data, type, row) {
                        if (type === 'display') {
                            return data.ompPeers === undefined ? "--" : data.ompPeers;
                        }
                        const match = data.ompPeers === undefined ? null : data.ompPeers.match(/^\d+/);
                        const firstNumber = match ? parseInt(match[0], 10) : null;
                        return firstNumber;
                    }
                },
                { title: 'Uptime (d)', data: "uptime" },
            ]
        }
    );

    // devices
    $(document).ready(function () {

        // Add 'active' class to the first button
        $('#fabric-buttons .fabric-btn').first().addClass('active');
        loadData(fabric);

        // Click handler to update the fabric variable
        $('.fabric-btn').on('click', function () {
            $('.fabric-btn').removeClass('active');
            $(this).addClass('active');
            fabric = $(this).data('fabric');
            loadData(fabric);
        });

        // fetch data
        function loadData(fabric) {
            show('#spinner');
            let url = getDevicesUrl.replace('FABRIC', fabric);
            get(url).then(data => {
                table.clear().rows.add(data).draw();
                hide('#spinner');
            }).catch(error => {
                show_alert("danger", "Failed to contact Cisco SDWAN", error)
                hide('#spinner');
            });
        };
    });
</script>
{% endblock %}