{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h4>SDWAN</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="table"  class="table table-striped align-top"></table>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    const getDevicesUrl = "{{ url_for('api_sdwan.get_devices') }}";
    const showDeviceUrl = "{{ url_for('ui_sdwan.show_device',fabric='FABRIC',id='ID') }}";
    // get data and render table
    $(document).ready(function () {
        show('#spinner');
        get(getDevicesUrl)
        .then(data=> {
            $('#table').DataTable({
                layout: {
                    topStart: 'search',
                    topEnd: { buttons: ['pageLength', 'copy', 'excel', 'csv'] }
                },
                pageLength: 10,
                fixedHeader: true,
                // Filter out non-onboarded devices
                data: data.filter(device => device.hostname != null),
                columns: [
                    {
                        title: 'Hostname', data: "hostname", render: function (data, type, row) {
                            return `<b><a class="text-primary" href=${showDeviceUrl.replace('FABRIC',row.fabric).replace('ID',row.uuid)}>${row.hostname}</a></b>`
                        }
                    },
                    { title: 'IP Address', data: "system_ip" },
                    { title: 'Version', data: "version" },
                    { title: 'Model', data: "model" },
                    { title: 'Persona', data: "persona" },
                    { title: 'Fabric', data: "fabric" },
                    {
                        title: 'CTRL', data: "raw_data", render: function (data, type, row) {
                            if (type === 'display') {
                                return data.controlConnections===undefined ? "--" : data.controlConnections
                            }
                            return data.controlConnections===undefined ? null : data.controlConnections
                        }
                    },
                    {
                        title: 'BFD', data: "raw_data", render: function (data, type, row) {
                            if (type === 'display') {
                                return data.bfdSessions===undefined ? "--" : data.bfdSessions
                            }
                            const match = data.bfdSessions===undefined ? null:data.bfdSessions.match(/^\d+/);
                            const firstNumber = match ? parseInt(match[0], 10) : null;
                            return firstNumber;
                        }
                    },
                    {
                        title: 'OMP', data: "raw_data", render: function (data, type, row) {
                            if (type === 'display') {
                                return data.ompPeers===undefined ? "--" : data.ompPeers;
                            }
                            const match = data.ompPeers===undefined ? null:data.ompPeers.match(/^\d+/);
                            const firstNumber = match ? parseInt(match[0], 10) : null;
                            return firstNumber;
                        }
                    },
                    {
                        title: 'Managed', data: "is_managed", render: function (data, type, row) {
                            if (type === 'display') {
                                return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                            }
                            return data;
                        }
                    },
                    {
                        title: 'Reachable', data: "is_reachable", render: function (data, type, row) {
                            if (type === 'display') {
                                return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                            }
                            return data;
                        }
                    },
                    {
                        title: 'Synced', data: "is_sync", render: function (data, type, row) {
                            if (type === 'display') {
                                return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                            }
                            return data;
                        }
                    },
                    {
                        title: 'Valid', data: "is_valid", render: function (data, type, row) {
                            if (type === 'display') {
                                return data ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                            }
                            return data;
                        }
                    },

                ]
            });
            hide('#spinner');
        })
        .catch(error=>{
            show_alert("danger","Failed to contact Cisco SDWAN",error)
            hide('#spinner');
            console.log(error);
        });
    });
</script>
{% endblock %}