{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h4>{{hostname}} - {{if_name}}</h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab1" aria-selected="true" role="tab">Summary</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab2" aria-selected="false" role="tab" tabindex="-1">Configuration</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab3" aria-selected="false" role="tab" tabindex="-1">Switchport</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab4" aria-selected="false" role="tab" tabindex="-1">Statistics</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="tab1" role="tabpanel">
            <div id="tab1-content"></div>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel">
            <div id="tab2-content"></div>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel">
            <div id="tab3-content"></div>
        </div>
        <div class="tab-pane fade" id="tab4" role="tabpanel">
            <div id="tab4-content"></div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const id = "{{id}}";
    const if_name = "{{if_name}}";
    const hostname = "{{data.hostname}}";
    const fabric = "{{fabric}}";
    const data = JSON.parse('{{data.tojson()|safe}}');
    const pollInterval = 2000;
    const resolveDnsUrl = "{{url_for('resolve')}}";
    const createTaskUrl = "{{url_for('api_tasks.create_task')}}";
    const getTaskUrl = "{{url_for('api_tasks.get_task',task_id='DUMMY')}}";

    // Tasks definitions
    const tasks = [
        {
            type: "ssh_cmd",
            params: {
                ip_address: data.system_ip,
                use_textfsm: true,
                device_type: "cisco_ios",
                cmd: `sh interface ${if_name}`
            },
            render: (result) => {
                if (result.success) {
                    // Summary
                    const mappedKeys = [
                        {interface: "Interface name"},
                        {description: "Description"},
                        {protocol_status: "Status"},
                        {bandwidth: "Bandwidth"},
                        {speed: "Speed"},
                        {duplex: "Duplex"},
                        {bia: "Burn-in MAC Address"},
                        {mac_address: "MAC Address"},
                        {media_type: "Media Type"},
                        {hardware_type: "Hardware Type"},
                        {mtu: "MTU"}
                    ];
                    const filteredRenamed = mapObjectKeys(result.parsed[0], mappedKeys);
                    objectToTable(filteredRenamed, "#tab1-content");
                    // Statistics
                    const mappedKeys2 = [
                        {input_errors: "Input errors"},
                        {input_packets: "Input packets"},
                        {input_pps: "Input PPS"},
                        {input_rate: "Input rate"},
                        {output_errors: "Output errors"},
                        {output_packets: "Output packets"},
                        {output_pps: "Output PPS"},
                        {output_rate: "Output rate"},
                        {queue_drops: "Queue drops"},
                        {queue_flushes: "Queue flushes"},
                        {queue_max: "Queue max"},
                        {queue_output_drops: "Queue output drops"},
                        {queue_size: "Queue size"},
                        {queue_strategy: "Queue strategy"},
                        {runts: "Runts"},
                        {crc: "CRC"},
                        {giants: "Giants"},
                        {overrun: "Overrun"},
                        {delay: "Delay"}

                    ];
                    const filteredRenamed2 = mapObjectKeys(result.parsed[0], mappedKeys2);
                    objectToTable(filteredRenamed2, "#tab4-content");
                } else {
                    $("#tab1-content").html(`<pre><code>❌ Task failed: ${result.error}</code></pre>`);
                    $("#tab4-content").html(`<pre><code>❌ Task failed: ${result.error}</code></pre>`);
                }
            }
        },
        {
            type: "ssh_cmd",
            params: {
                ip_address: data.system_ip,
                use_textfsm: true,
                device_type: "cisco_ios",
                cmd: `sh interface ${if_name} switchport`
            },
            render: (result) => {
                if (result.success) {
                    // Switchport
                    const mappedKeys = [
                        {switchport: "Switchport"},
                        {admin_mode: "Admin Mode"},
                        {mode: "Current Mode"},
                        {access_vlan: "Access VLAN"},
                        {native_vlan: "Native VLAN"},
                        {trunking_vlans: "Trunking VLANs"},
                        {voice_vlan: "Voice VLAN"}
                    ];
                    const filteredRenamed = mapObjectKeys(result.parsed[0], mappedKeys);
                    objectToTable(filteredRenamed, "#tab3-content");
                } else {
                    $("#tab3-content").html(`<pre><code>❌ Task failed: ${result.error}</code></pre>`);
                }
            }
        },
        {
            type: "ssh_cmd",
            params: {
                ip_address: data.system_ip,
                use_textfsm: false,
                device_type: "cisco_ios",
                cmd: `sh run interface ${if_name}`
            },
            render: (result) => {
                if (result.success) {
                    $("#tab2-content").html(`<pre><code>${escapeHtml(result.raw)}</code></pre>`);
                } else {
                    $("#tab3-content").html(`<pre><code>❌ Task failed: ${result.error}</code></pre>`);
                }
            }
        }
    ];

    // Run tasks
    $(document).ready(function () {
        show('#spinner');
        show_alert("info","Hang on",`Loading data from ${hostname}...`);
        runTasks(tasks).then((results) => {
            results.forEach((task, i) => {
                if (task.render) {
                    if (task.render_params !== undefined) {
                        task.render(task.result, task.render_params);
                    } else {
                        task.render(task.result);
                    }
                }
            });
        }).finally(() => {
            close_alert();
            hide("#spinner");
        });
    });

</script>
{% endblock %}