{% extends "base.html" %}

{% block title %}Device{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h4>LAN Switches</h4>
        <hr>
    </div>
</div>
<!-- SEARCH FORM -->
<form method="POST">
    <div class="row">
        <div class="col-3">
            <div class="card border-primary  mb-3 h-100">
                <div class="card-header">1. Search for a switch</div>
                <div class="card-body">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.hostname.label }}<br>
                        {{ form.hostname(size=32) }}
                    </p>
                    {% if error %}
                    <p>❌ {{ error }}</p>
                    <div id="status"></div>
                    {% endif %}
                </div>
                <div class="card-footer d-grid gap-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
        <!-- SEARCH RESULT -->
        {% if device.ip_address %}
        <div class="col-4">
            <div class="card border-primary  mb-3 h-100">
                <div class="card-header">2. Choose your next step</div>
                <div class="card-body">


                    <fieldset>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1"
                                value="option1" checked="">
                            <label class="form-check-label" for="optionsRadios1">
                                View system information
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2"
                                value="option2">
                            <label class="form-check-label" for="optionsRadios2">
                                View switch ports
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3"
                                value="option3">
                            <label class="form-check-label" for="optionsRadios3">
                                View CDP neighbors
                            </label>
                        </div>
                    </fieldset>


                </div>
                <div class="card-footer d-grid gap-2">
                    <button id="run_task" type="button" class="btn btn-primary">Let's start</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>

<div class="row">
    <div id="result" class="col"></div> 
</div>
{% endblock %}

{% block script %}
{% if device %}
<script>
    const pollInterval = 2000;
    const ip = "{{ device.ip_address }}";
    const statusDiv = document.getElementById("status");
    const createTaskUrl = "{{ url_for('api_tasks.create_task') }}";
    const getTaskUrl = "{{ url_for('api_tasks.get_task', task_id='DUMMY') }}";
    $(document).ready(function () {
        $('#run_task').click(function (e) {
            e.preventDefault();
            show('#spinner');
            createTask(createTaskUrl, "ssh_cmd", {
                ip_address: ip,
                cmd: "sh int desc",
                device_type: "cisco_ios"
            }).then(taskId => {
                if (taskId) {
                    pollTask(getTaskUrl, taskId, pollInterval, "#result")
                        .then(taskResult => {
                            console.log(taskResult);
                            drawResult(taskResult,"#result")                            
                            hide('#spinner');
                        });
                } else {
                    $("#result").html("❌ Task failed");
                    hide('#spinner');
                }
            });
        });
    });
    
</script>
{% endif %}
{% endblock %}