{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h4>LAN</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="table"  class="table table-striped align-top"></table>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    const getSwitchesUrl = "{{ url_for('api_dnac.get_devices') }}";
    const showSwitchUrl = "{{ url_for('ui_lan.show_device',id='DUMMY') }}";
    // get data and render table
    $(document).ready(function () {
        show('#spinner');
        get(getSwitchesUrl + "?family=Switches and Hubs")
        .then(data=> {
            $('#table').DataTable({
                layout: {
                    topStart: 'search',
                    topEnd: { buttons: ['pageLength', 'copy', 'excel', 'csv'] }
                },
                pageLength: 10,
                fixedHeader: true,
                order: [[1, 'asc']],
                data: data,
                columns: [
                    {
                        title: 'Reachable', data: "raw_data.communicationState", render: function (data, type, row) {
                            if (type === 'display') {
                                return data==="REACHABLE" ? "<p class='text-center'><i class='bi bi-check-circle-fill text-success'></i></p>" : "<p class='text-center'><i class='bi bi-x-circle-fill text-danger'></i></p>";
                            }
                            return data==="REACHABLE" ? true : false;
                        }
                    },
                    {
                        title: 'Hostname', data: "hostname", render: function (data, type, row) {
                            return `<b><a class="text-primary" href=${showSwitchUrl.replace('DUMMY',row.id)}>${row.hostname}</a></b>`
                        }
                    },
                    { title: 'IP Address', data: "ip_address" },
                    { title: 'Role', data: "role" },
                    { title: 'Version', data: "version" },
                    {
                        title: 'Model', data: "platform", render: function (data, type, row) {
                            if (data) {
                                return data.join('<br>');
                            } else {
                                return null;
                            }
                        }
                    },
                    {
                        title: 'Serial', data: "serial", render: function (data, type, row) {
                            if (data) {
                                return data.join('<br>');
                            } else {
                                return null;
                            }
                        }
                    },
                    { title: 'Stack Size', data: "stack_size" },
                    {
                        title: 'Uptime (d)', data: "uptime", render: function (data, type, row) {
                            if (type === 'display') {
                                return Math.floor(data / 86400);
                            }
                            return data;
                        }
                    },
                    
                ]
            });
            hide('#spinner');
        })
        .catch(error=>{
            show_alert("danger","Failed to contact Cisco DNAC",error)
            hide('#spinner');
            console.log(error);
        });
    });
</script>
{% endblock %}