{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h4>{{data.name}}</h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab1" aria-selected="true" role="tab">Summary</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-info" data-bs-toggle="tab" href="#tab2" aria-selected="false" role="tab">Devices</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="tab1" role="tabpanel">
            <div id="tab1-content">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <p class="text-primary"><b>Name</b></p>
                                </td>
                                <td>{{data.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-primary"><b>Dashboard URL</b></p>
                                </td>
                                <td><a href="{{data.url}}">{{data.url}}</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel">
            <div id="tab2-content">
                <table id="deviceTable" class="table table-striped"></table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const id = "{{id}}";
    const name = "{{data.name}}";
    const fabric = "{{fabric}}";
    const data = JSON.parse('{{data.to_json()|safe}}');
    const pollInterval = 2000;
    const createTaskUrl = "{{url_for('api_tasks.create_task')}}";
    const getTaskUrl = "{{url_for('api_tasks.get_task',task_id='DUMMY')}}";
    const getDevicesUrl = "{{ url_for('api_meraki.get_devices',fabric='FABRIC') }}";
    const showDeviceUrl = "{{ url_for('ui_wlan.show_device',fabric='FABRIC',id='ID') }}";


    // Run tasks
    $(document).ready(function () {
        show('#spinner');
        get(getDevicesUrl.replace("FABRIC",fabric),{"networkIds[]":"{{id}}"}).then(devices=>{
            const badgeMap = buildBadgeMapFromTags(devices);

            $("#deviceTable").DataTable({
                layout: {
                    topStart: 'search',
                    topEnd: { buttons: ['pageLength', 'copy', 'excel', 'csv'] }
                },
                pageLength: 15,
                fixedHeader: true,
                data: devices,
                columns: [
                    {
                        title: 'Name', data: "name", render: function (data, type, row) {
                            if (type === "display") {
                                return `<b><a class="text-primary" href=${showDeviceUrl.replace('FABRIC', fabric).replace('ID', row.serial)}>${data==""?"None":data}</a></b>`;
                            } else {
                                return data;
                            }
                        }
                    },
                    { title: "IP Address", data: "ip_address"},
                    { title: "Version", data: "version"},
                    //{ title: "Type", data: "type"},
                    { title: "Model", data: "model"},
                    { title: "Serial", data: "serial"},
                    
                    {
                        title: "Tags", data: "tags", render: function (data, type, row) {
                            if (type === "display") {
                                return data.slice().sort((a, b) => a.localeCompare(b)).map(tag => badgeMap[tag]).join(" ");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: "URL", data: "url", render: function (data, type, row) {
                            if (type === "display") {
                                return `<a class="text-primary" href=${data}><i class="bi bi-box-arrow-up-right"></i></a>`;
                            } else {
                                return data;
                            }
                        }
                    },
                ]
            });
            //close_alert();
            hide('#spinner');
        }).catch(error=>{
            show_alert('danger','Error','Failed to get network devices.');
            hide('#spinner');
        });
    });

</script>
{% endblock %}