{% extends "base.html" %}

{% block title %}Yami{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <br>
        <h4>{{ user.fullname }}</h4>
        <hr>
    </div>
</div>

<ul>
    <li>
        Username: {{ user.username }}
    </li>
    <li>
        Full name: {{ user.fullname }}
    </li>
    <li>
        E-mail: {{ user.email }}
    </li>
    <li>
        Roles:<br>
        <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>


{% endblock %}